.body {
    margin-top: 1px;
    background-color: #36454f;
    padding: 0 50px;
  }
  .heading2 {
    font-family: Trattatello;
    font-size: 60px;
    color: #ddd0c8;
  }
  .card:hover {
    color: #36454f;
    -webkit-transition: width 0.25s, height 0.25s, background-color 0.25s;
    transition: width 3s, height 0.25s, background-color 0.25s;
  }